@page "/"
@using Recurop
@inject RecurringOperationsManager Recurop
@implements IDisposable

<PageTitle>Flowmodoro</PageTitle>

<div style="text-align:center;" >
    <h1 >
        <strong>Flowmodoro</strong>
    </h1>

    <p>
        Work time is devided by 5<br />
        Stop and Swap Mode to take a break <br />
        If you dont want to take a break just stop and reset the timer :)
    </p>

</div>
<div style="margin-top:60px; text-align:center;">
    <h2>@TitleText</h2>
    <div style="padding-top:15px">
        <p style="visibility: @(_timerVisible ? "visible" : "hidden"); font-size: 75px;">@this._displayTime</p>
        <div >
            <button class="btn btn-sm btn-primary" disabled=@(!StopWatchOperation.CanBeStarted || !TimerOpertation.CanBeStarted ? true : false)
            @onclick="StartTimer">Start</button>
            <button class="btn btn-sm btn-danger" disabled=@(StopWatchOperation.IsRecurring || TimerOpertation.IsRecurring ? false : true)
            @onclick="StopTimer">Stop</button>
            <button class="btn btn-sm btn-danger" disabled=@(StopWatchOperation.IsRecurring || TimerOpertation.IsRecurring ? true : false)
            @onclick="ResetTimer">Reset</button>
            <button class="btn btn-sm btn_danger" disabled=@(!CanBeSwapped())
            @onclick="SwapMode">SwapMode</button>
        </div>
    </div>
</div>

<DragAndDropListComponent></DragAndDropListComponent>