
.task-container {
    padding-top: 0.5em;
    touch-action: none;
}

.task-name {
    display: inline;
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-description {
    display: inline;
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}

.task-formatter {
    background-color: var(--mud-palette-primary);
    color: white;
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
}

div.task-formatter:hover {
    background-color: var(--mud-palette-primary-darken);
    box-shadow: grey 4px 4px;
    cursor: grab;
}

.draggedOver{
    border: 4px dashed black;
}

div.task-selected:hover {
    background-color: var(--mud-palette-success);
    /*background-color: color-mix(in srgb, var(--mud-palette-success-darken), var(--mud-palette-overlay-dark) 10%);*/
}

div.task-selected {
    background-color: color-mix(in srgb, var(--mud-palette-success-darken), var(--mud-palette-overlay-dark) 10%);
    background-color: var(--mud-palette-success-darken);
}

li {
    margin: 0;
    padding: 0;
}


