.floating-update-button {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    padding: 1rem 1.5rem;
    animation: fadein 2s ease-out;
    background-color: var(--mud-palette-warning);
}

@keyframes fadein {
  from { right: -100%; }
  to { right: 2rem; }
}